.banner{
	@extend %section;
	height: calc(100vh - 80px);
	overflow: hidden;
	position: relative;
	padding: 0;

	& > h2{
		z-index: 1;
		text-align: center;
		width: 100%;
		top: 70px;
		position: absolute;
	}

	& > video{
		position: absolute;
		width: 100%;
		left: 0;
		top: 0;
	}
}