.carousel{
	@extend %section;
	height: calc(100vh - 80px);
	//background-color: navy;
	overflow: hidden;
	position: relative;
	padding: 0;

	& >svg{
		position: absolute;
		height: 50px;
		cursor: pointer;
		transition: height .3s ease;
		z-index: 5;
		&:active{
			height: 60px;
		}
		&:nth-of-type(2){
			transform: rotate(180deg);
			right: 1rem;
		}
	}
	& >svg>path{
		d: path("M213.13,222.409L351.88,83.653c7.05-7.043,10.567-15.657,10.567-25.841c0-10.183-3.518-18.793-10.567-25.835 l-21.409-21.416C323.432,3.521,314.817,0,304.637,0s-18.791,3.521-25.841,10.561L92.649,196.425 c-7.044,7.043-10.566,15.656-10.566,25.841s3.521,18.791,10.566,25.837l186.146,185.864c7.05,7.043,15.66,10.564,25.841,10.564 s18.795-3.521,25.834-10.564l21.409-21.412c7.05-7.039,10.567-15.604,10.567-25.697c0-10.085-3.518-18.746-10.567-25.978 L213.13,222.409z");
		cursor: pointer;

		fill: rgba($bordeaux,.6);
		&:hover{
			cursor: pointer;
			fill: rgba($bordeaux,.8);
		}
	}

}

.carousel__window{
	width: 300vw;
	height: 100%;
	@extend %d-flex;
	flex-direction: row;
	position: absolute;
	transition: all .5s $bezier;
	left: 0;
}
.carousel__content{
	width: 100vw;
	height: 100%;
	display: inline;
	position: relative;

	p{
		position: absolute;
		top: 50vh;
		left: 50vw;
		span{
			@extend %button;
		}
	}
}
.carousel__breadcrumbs{
	position: absolute;
	@extend %d-flex;
	bottom: 1rem;
	left: 50%;
	transform: translateX(-50%);
	width: 100px;
	align-items: center;
	transition: all .3s $bezier;

	&:hover{
		transform: translateX(-50%) scale(1.2);
	}

	.crumb{
		cursor: pointer;
		width: 20px;
		margin: 10px;
		height: 5px;
		border-radius:4px;
		background-color: rgba($bordeaux,.6);
		&:hover{
			cursor: pointer;
			background-color: rgba($bordeaux,.8);
		}
	}
}