.cosa-e-winy{
	@extend %section;
	//background-color: red;
	//height: 40vh;
	justify-content: center;
	text-align-last: left;

	& >*{
		width: cols(10);
		height: 100%;
		@extend %d-flex;
		align-items: center;
		color: #000000;
	}
	& >.text{
		padding: 20px 0;
		align-items: flex-start;
		& > *{
			margin: 20px 0;
		}
	}
}