.la-nostra-app{
	@extend %section;
	//background-color: brown;
	//height: 400px;
	justify-content: center;
	margin-bottom: 70px;

	& >*{
		height: 500px;
		@extend %d-flex;
		align-items: center;
		color: #000000;
	}

	& > .illustration{
		width: cols(6);
	}

	& >.text{
		width: cols(4);
		align-items: flex-start;
		position: relative;
		height: 500px;

		& > .steps{
			padding-top: 20px;
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: flex-end;

			& > img{
				width: 250px;
				margin: 8px;
			}
		}
	}

	& > .text > span{
		@extend %button;
		position: absolute;
		bottom: 0;
		left: 0;
	}

	& > .text > img{
		position: absolute;
		bottom: -80px;
		height: 40px;
		right: -60px;
		cursor: pointer;
		transition: transform .3s $bezier, right .8s $bezier;

		&:hover{
			transform: scale(1.05);
		}
	}

	& > .text > img.second-store-button{
		right: -270px;
	}
}