.nav{
	@extend %row;
	z-index: 9;
	background-color: $bordeaux;
	height: 80px;
	justify-content: center;
	position: sticky;
	left: 0;
	top: 0;
}
.nav>* {
	height: 100%;
	@extend %d-flex;
	align-items: center;
	color: #fff;
}
.nav__logo{
	width: cols(3);
}
.nav__menu{
	width: cols(7);
}
.nav__menu>ul{
	@extend %d-flex;
	align-items: center;
	list-style: none;
	width: 100%;
	flex-direction: row;
	justify-content: flex-end;
	& li{
		cursor: pointer;
		display: inline;
		margin: auto 10px;
		& > a{
			margin: auto 5px;
			cursor: pointer;
			font-size: 20px;
			font-weight: 700;
			transition: all .3s $bezier, color 0s;
			will-change: letter-spacing, opacity;
			opacity: .6;
			text-decoration: none;
			color: white;
		}
		&.current-page, &.current-page > a{
			opacity:1;
		}
		&:hover , & > a:hover{
			cursor: pointer;
			letter-spacing: 1.5px;
			opacity: 1;
		}
		&:active , & > a:active{
			color: $red;
		}
	}
}