.team{
	flex-direction: column;
	align-items: center;

	& > .row{
		@extend %row;
		align-items: center;
		justify-content: space-evenly;
		height: 200px;
		padding: 20px 0;
		margin: 20px 0;
		width: cols(12);

		& > *{
			width: cols(3);
			height: 100%;
			text-align: center;
			@extend %d-flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-evenly;

			& > h4{
				color: black;
				font-size: 27px;
				font-weight: 700;
			}
			& > span{
				font-size: 24px;
				font-weight: 400;
			}
			& > p{
				font-size: 16px;
				white-space: nowrap;
				& > b{
					font-size: 21px;
				}
			}
			& > .red-divider{
				width: 100%;
				height: 2px;
				background-color: $red;
			}
		}
	}
}